/* Whole navbar wrapper */

.navbar {
  position: fixed; 
  top: 0;
  left: 0;
  height: 5%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  padding: 3%;
  background-color: #1f2937;
  color: white;

  z-index: 1000;         /* stays above everything */
}
body{
  padding-top: 6%;      /* prevent content from being hidden under navbar */
} 

/* Left navbar */
.left-navbar {
  display: flex;
  gap: 25px; /* space between items */
}

/* Right navbar */
.right-navbar {
  display: flex;
  gap: 25px;
}

/* Individual items */
.left-navbar div,
.right-navbar div {
  cursor: pointer;
  font-size: 16px;
}

/* Hover effect */
.left-navbar div:hover,
.right-navbar div:hover,a:hover {
  color: #38bdf8; /* light blue */ 
}
.navbar hr {
  background-color: rgb(233, 141, 141);
  height: 2px;
  border: none; 
  opacity: 0;
  transform: scaleX(0);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.25s ease, opacity 0.25s ease;
}

.navbar div:hover > hr {
  opacity: 1;
  transform: scaleX(1);
}
a , a:visited , a:active , a:hover, a:link {
  color: white;
  text-decoration: none;
}
a:focus {
  color: rgb(74, 74, 201);
}

