.products{
    display: flex;
    flex-wrap: wrap;
    column-gap: auto;
    padding: 20px;
    /* /* justify-content: space-between; */
    border-bottom: 2px solid rgb(22, 18, 13);
}
.Pages{
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    border-bottom: 2px solid rgb(22, 18, 13);
}
.Pages .previous, .Pages .next{
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s ease;
}
.Pages .page-numbers{
    display: flex;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.1s ease;
}
.Pages .page-numbers .number{
    padding: 10px;
    background-color: rgb(179, 179, 179);
    border-radius: 5px;
    cursor: pointer;
    height: 25px;
    display: flex;
    align-items: center;
}
.products a{
    text-decoration: none;
    color: black;

}