.product-card{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* text-align: center; */
    background-color: #fff;
    cursor: pointer;
}
.product-card .image img{
    max-width: fit-content;
    background-color: red;
}
.product-card .product-name{
    font-size: 18px;
    font-weight: bold;
    margin: 8px 0;
}
.product-card .product-price{
    color: #28a745;
    font-size: 16px;
    margin-bottom: 10px;
}