.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}
.overlay .LoginPage{
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background: rgb(144, 137, 137);
    padding: 20px;
    border-radius: 2%;
    box-shadow: 0 0 10px rgba(245, 248, 248, 0.5);
    width: 70%;
    height: 70%;
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;  
}
label{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:rgb(73, 60, 41);
}
button{
    padding: 10px;
    background-color:  rgb(85, 69, 51);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(73, 60, 41);
}
input{
    padding: 8px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 300px;
    background-color: rgb(129, 120, 105);
    cursor: text;
}
input:hover{
    border: 2px solid rgb(100, 85, 60);
    transition: transform 0.2s;
}
input:focus{
    outline: none;
    border: 2px solid rgb(73, 60, 41);
}
.LoginPage a,.LoginPage a:visited{
    color: blue;
    cursor: pointer;
}
.LoginPage a:hover{
    text-decoration: underline;
}
.google{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 2px solid rgb(73, 60, 41);
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    background-color: rgb(85, 69, 51);
    transition: transform 0.1s ease;
}
.google:hover{
    background-color: rgb(73, 60, 41);
}
.google:active {
  transform: scale(0.95); /* zoom out */   
} 
.cross{
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}